
.tiplayer {
   width: 286px;
   height: 89px;
   border: 1px solid #666;
   background-color: #ccc;
   -webkit-transition: all ease-in-out .5s;
   -webkit-transform: perspective(800px) rotateX(-90deg);
}

.tiplayerHover {
   -webkit-transform: perspective(800px) rotateX(0deg);
}

